<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Car Rent</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid menu">
        <a class="btn btn-md" th:href="@{/logout}" th:if="${isLoggedIn}">Logout</a>
        <a class="btn btn-md" th:href="@{/login}" th:if="${isLoggedIn} == false">Login</a>
        <a class="btn btn-md" th:href="@{/registration}" th:if="${isLoggedIn} == false">Registration</a>
        <a class="btn btn-md" th:href="@{/user/edit}" th:if="${isLoggedIn}">My account</a>
        <a class="btn btn-md" th:href="@{/admin/user/all}" th:if="${isAdmin}">Users</a>
        <a class="btn btn-md" th:href="@{/admin/car/all}" th:if="${isAdmin}">Cars</a>
        <a class="btn btn-md" th:href="@{/}">Home</a>

        <span id="logo">Car Rent</span>
    </div>

    <div class="container">
        <div th:each="car : ${cars}" class="row car-detail-row">
            <div class="car-detail col-lg-6">
                <span class="detail-label col-lg-4">Brand</span>
                <p th:text="${car.brand}" class="detail-data col-lg-8"></p>

                <span class="detail-label col-lg-4">Register number</span>
                <p th:text="${car.registNumber}" class="detail-data col-lg-8"></p>

                <span class="detail-label col-lg-4">Transmission type</span>
                <p th:text="${car.transmissionType}" class="detail-data col-lg-8"></p>

                <span class="detail-label col-lg-4">Fuel type</span>
                <p th:text="${car.fuelType}" class="detail-data col-lg-8"></p>

                <span class="detail-label col-lg-4">Price (RON)</span>
                <p th:text="${car.price}" class="detail-data col-lg-8"></p>

                <span th:if="${car.available} == true" class="car-available">Available</span>
                <span th:if="${car.available} == false" class="car-not-available">Not available</span>
                <button class="btn btn-md rent-detail-btn">Rent</button>
            </div>

            <div class="col-lg-6 rent">
                <p>Rent</p>
            </div>
        </div>
    </div>
</body>
</html>