<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Car Rent</title>

    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="/css/style.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/panel}" sec:authorize="hasAnyAuthority('ADMIN')">Admin Panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/edit}" sec:authorize="isAuthenticated()">My account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAuthenticated() == false">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="isAuthenticated() == false">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<header class="masthead text-center text-white">
    <div class="masthead-content">
        <div class="container">
            <h1 class="masthead-heading mb-0">Car Rent</h1>
            <h2 class="masthead-subheading mb-0">You rent a lot more than a car</h2>
        </div>
    </div>
</header>

<section th:each="car,iterator : ${cars}">
    <div class="container">
        <div class="row align-items-center" th:if="${iterator.odd}">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="images/car.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4" th:text="${car.brand}"></h2>

                    <p>
                        <label>Register number:</label>
                        <span th:text="${car.registNumber}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Transmission type:</label>
                        <span th:text="${car.transmissionType}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Fuel type:</label>
                        <span th:text="${car.fuelType}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Price (RON):</label>
                        <b><span th:text="${car.price}" class="disp-inl-block"></span></b>
                    </p>

                    <label th:if="${car.available} == true" class="car-available">Available</label>
                    <label th:if="${car.available} == false" class="car-not-available">Not available</label>
                    <a th:href="@{/rent}" class="btn btn-md rent-btn" th:if="${car.available}" sec:authorize="isAuthenticated()">Rent</a>
                    <a th:href="@{/login}" class="btn btn-md rent-btn" th:if="${car.available}" sec:authorize="isAuthenticated() == false">Log in for Rent</a>
                </div>
            </div>
        </div>

        <div class="row align-items-center" th:if="${iterator.even}">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="images/car.jpeg" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4" th:text="${car.brand}"></h2>

                    <p>
                        <label>Register number:</label>
                        <span th:text="${car.registNumber}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Transmission type:</label>
                        <span th:text="${car.transmissionType}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Fuel type:</label>
                        <span th:text="${car.fuelType}" class="disp-inl-block"></span>
                    </p>

                    <p>
                        <label>Price (RON):</label>
                        <b><span th:text="${car.price}" class="disp-inl-block"></span></b>
                    </p>

                    <label th:if="${car.available} == true" class="car-available">Available</label>
                    <label th:if="${car.available} == false" class="car-not-available">Not available</label>
                    <a th:href="@{/rent}" class="btn btn-md rent-btn" th:if="${car.available}" sec:authorize="isAuthenticated()">Rent</a>
                    <a th:href="@{/login}" class="btn btn-md rent-btn" th:if="${car.available}" sec:authorize="isAuthenticated() == false">Log in for Rent</a>
                </div>
            </div>
        </div>
    </div>
</section>

<footer class="py-5 bg-black">
    <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; 2018</p>
    </div>
</footer>

 <!--Bootstrap core JavaScript -->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

</body>

</html>



