<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="container-fluid menu">
        <a class="btn btn-md" th:href="@{/logout}" th:if="${isLoggedIn}">Logout</a>
        <a class="btn btn-md" th:href="@{/login}" th:if="${isLoggedIn} == false">Login</a>
        <a class="btn btn-md" th:href="@{/registration}" th:if="${isLoggedIn} == false">Registration</a>
        <a class="btn btn-md" th:href="@{/user/edit}" th:if="${isLoggedIn}">My account</a>
        <a class="btn btn-md" th:href="@{/admin/user/all}" th:if="${isAdmin}">Users</a>
        <a class="btn btn-md" th:href="@{/admin/car/all}" th:if="${isAdmin}">Cars</a>
        <a class="btn btn-md" th:href="@{/}">Home</a>

        <span id="logo">Car Rent</span>

    </div>

    <div class="container">
        <div class="row">
            <div class="alert alert-success alert-dismissable" th:if="${successMessage}">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                <p th:text="${successMessage}" />
            </div>

            <div class="col-md-6 col-md-offset-3">

                <h2 th:text="${title}" />

                <form action="#" th:action="@{/user/edit}" th:object="${user}" method="post"
                      class="form-horizontal" role="form">

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                                   class="validation-message" />
                            <label>Firstname</label>
                            <input type="text" th:field="*{firstName}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                                      class="validation-message" />
                            <label>Lastname</label>
                            <input type="text" th:field="*{lastName}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label	th:if="${#fields.hasErrors('identNumber')}" th:errors="*{identNumber}"
                                      class="validation-message" />
                            <label>Identification number</label>
                            <input type="text" th:field="*{identNumber}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label	th:if="${#fields.hasErrors('age')}" th:errors="*{age}"
                                      class="validation-message" />
                            <label>Age</label>
                            <input type="number" th:field="*{age}" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="validation-message" />
                            <label>E-mail address</label>
                            <input type="text" th:field="*{email}" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-9">
                            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                   class="validation-message"></label>
                            <label>Change password</label>
                            <input type="password" th:field="*{password}" placeholder="Password" class="form-control" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-primary btn-block">Save</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</body>