<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin | Add car</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid menu">
    <a class="btn btn-md" th:href="@{/logout}" th:if="${isLoggedIn}">Logout</a>
    <a class="btn btn-md" th:href="@{/login}" th:if="${isLoggedIn} == false">Login</a>
    <a class="btn btn-md" th:href="@{/registration}" th:if="${isLoggedIn} == false">Registration</a>
    <a class="btn btn-md" th:href="@{/user/edit}" th:if="${isLoggedIn}">My account</a>
    <a class="btn btn-md" th:href="@{/admin/user/all}" th:if="${isAdmin}">Users</a>
    <a class="btn btn-md" th:href="@{/admin/car/all}" th:if="${isAdmin}">Cars</a>
    <a class="btn btn-md" th:href="@{/}">Home</a>

    <span id="logo">Car Rent</span>
</div>

<div class="container">
    <div class="row">

        <div class="alert alert-success alert-dismissable" th:if="${successMessage}">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <p th:text="${successMessage}" />
        </div>

        <div class="col-md-6 col-md-offset-3">

            <h2>Add car</h2>

            <form autocomplete="off" action="#" th:action="@{/admin/car/add}" th:object="${car}" method="post"
                  class="form-horizontal" role="form">

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Brand</label>
                        <select class="form-control" th:field="*{brand}">
                            <option th:each="brand : ${brands}" th:value="${brand}" th:text="${brand}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Registration number</label>
                        <input type="text" th:field="*{registNumber}" placeholder="Registration number" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Fuel type</label>
                        <select class="form-control" th:field="*{fuelType}">
                            <option th:each="fuel : ${fuelTypes}" th:value="${fuel}" th:text="${fuel}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Transmission type</label>
                        <select class="form-control" th:field="*{transmissionType}">
                            <option th:each="type : ${transmissionTypes}" th:value="${type}" th:text="${type}"></option>
                        </select>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <label>Price</label>
                        <input type="number" step="any" th:field="*{price}" placeholder="Price" class="form-control" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-9">
                        <button type="submit" class="btn btn-primary btn-block">Save car</button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>