<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Admin | Cars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/style.css" rel="stylesheet">
    <!--<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/all}" sec:authorize="hasAnyAuthority('ADMIN')">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/user/all}" sec:authorize="hasAnyAuthority('ADMIN')">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/edit}" sec:authorize="isAuthenticated()">My account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAuthenticated() == false">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="isAuthenticated() == false">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="alert alert-success alert-dismissable" th:if="${message}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p th:text="${message}" />
    </div>

    <h2>Cars</h2>

    <form th:action="@{/admin/car/add}" method="get">
        <button class="btn btn-md" type="Submit">Add car</button>
    </form>

    <div th:each="car : ${cars}" class="row car-detail-row">
        <div class="car-detail col-lg-6">
            <span class="detail-label col-lg-4">Brand</span>
            <p th:text="${car.brand}" class="detail-data col-lg-8"></p>

            <span class="detail-label col-lg-4">Register number</span>
            <p th:text="${car.registNumber}" class="detail-data col-lg-8"></p>

            <span class="detail-label col-lg-4">Transmission type</span>
            <p th:text="${car.transmissionType}" class="detail-data col-lg-8"></p>

            <span class="detail-label col-lg-4">Fuel type</span>
            <p th:text="${car.fuelType}" class="detail-data col-lg-8"></p>

            <span class="detail-label col-lg-4">Price (RON)</span>
            <p th:text="${car.price}" class="detail-data col-lg-8"></p>

            <span th:if="${car.available} == true" class="car-available">Available</span>
            <span th:if="${car.available} == false" class="car-not-available">Not available</span>
        </div>

        <div class="col-lg-6">
            <form th:action="@{/admin/car/all}" method="get">
                <input type="hidden" name="email" th:value="${car.registNumber}"/>
                <button class="btn btn-md edit-btn" type="Submit">Edit</button>
            </form>

            <form th:action="@{/admin/car/delete}" method="get">
                <input type="hidden" name="registNumber" th:value="${car.registNumber}"/>
                <button class="btn btn-md delete-btn" type="Submit">Delete</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>