<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Admin | Users</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
    <!--<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>-->
    <!--<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/car/all}" sec:authorize="hasAnyAuthority('ADMIN')">Cars</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/admin/user/all}" sec:authorize="hasAnyAuthority('ADMIN')">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/user/edit}" sec:authorize="isAuthenticated()">My account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/registration}" sec:authorize="isAuthenticated() == false">Registration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/login}" sec:authorize="isAuthenticated() == false">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}" sec:authorize="isAuthenticated()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="alert alert-success alert-dismissable" th:if="${message}">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <p th:text="${message}" />
    </div>
    <h2>Users</h2>
    <table id="users">
        <thead>
            <tr>
                <td>Index</td>
                <td>E-mail</td>
                <td>Role</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user,iterator : ${users}">
                <td th:text="${iterator.index + 1}"></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <form th:action="@{/user/edit}" method="get" class="action">
                        <input type="hidden" name="email" th:value="${user.email}"/>
                        <button class="btn btn-md edit-btn" type="Submit">Edit</button>
                    </form>

                    <form th:action="@{/admin/user/delete}" method="get" class="action">
                        <input type="hidden" name="email" th:value="${user.email}"/>
                        <button class="btn btn-md delete-btn" type="Submit">Delete</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>